test-compose
test-double-sum
test-eof
test-hwm
test-indexed-sum
test-int
test-noop
test-skip
test-sum
test-tuples

test-protobuf-message
test-protobuf-skip-length-prefixed
test-protobuf-submessage
test-protobuf-varint32-read
test-protobuf-varint64-read
test-protobuf-varint-size-read

test-protobuf-varint32-write
test-protobuf-varint64-write
test-protobuf-varint-size-write
