test-compose
test-eof
test-double-sum
test-indexed-sum
test-int
test-noop
test-pairs
test-skip
test-sum

test-protobuf-message
test-protobuf-submessage
test-protobuf-varint32
test-protobuf-varint64
test-protobuf-varint-size
